<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<!-- private css -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
	<!-- private javascript -->
	<script src="/assets/javascript/hello.js"></script>
	<title>Title</title>
</head>
<body>
	{{{body}}}
</body>
</html>
