<!-- Navbar on the top is defined in main.handlebars -->

<div id="main-container" class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 row-title">
          <img src="/assets/images/arrow-icon.png" width="30px">
          Challenge
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 content-text" id="choose-problem">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Choose a Problem
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li id="problem-0"><a href="#">Add two tumbers</a></li>
              <li id="problem-1"><a href="#">Find maximum number in an array</a></li>
              <li id="problem-2"><a href="#">Reverse a string</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 content-text" id="problem-description">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-title">
          <img src="/assets/images/arrow-icon.png" width="30px">
          Your Code
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 content-text">
          <!-- we need different function headers,
          like "function add(a, b)" or "function sort(array)",
          for different problems -->
          <textarea class="form-control" rows="10" id="usercode">
          </textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <input id="username-field" type="text" maxlength="16" value="Your name"></input>
          <button type="button" class="btn btn-success" id="starttimer">Start</button>
          <button type="button" class="btn btn-primary" id="runcode">Verify Code</button>
          <span id="clock-title">
            <strong>Timer: </strong>
          </span>
          <span id="clock">
            00:00
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning" id="default-console">
            Click "Verify Code" when you finish.
          </div>
          <div class="alert alert-success" id="pass"></div>
				  <div class="alert alert-danger" id="fail"></div>
				  <div class="alert alert-danger" id="error"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12" id="rank-title">
          <img src="/assets/images/trophy-icon.png" width="50px">
          Top 5 MVC!
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="rank-list">
          <ol>
            <li><img src="assets/images/star-icon.png" width="20px">Bill Gates</li>
            <li><img src="assets/images/star-icon.png" width="20px">Steve Jobs</li>
            <li><img src="assets/images/star-icon.png" width="20px">Mark Zuckerberg</li>
            <li><img src="assets/images/star-icon.png" width="20px">Evan Spiegel</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- below added by rick, to be removed--><!--
  <div id="wrapper">
    <div id="display">00:00</div>
      <div id="buttons">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
        <button id="lap">Lap</button>
      </div>
      <div id="laps"></div>
    </div>
  </div>-->
  <!-- above added by rick, to be removed-->

</div>