<div class="row navbar-fixed-top" id="top-navbar">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/dev-icon.png" width="60px">
      MVC, Most Valuable Coder
    </div>
    <div class="col-md-6" id="top-buttons">
      <img src="/assets/images/help-icon.png" width="40px">
      <a href="#">How to Use</a>
    </div>
  </div>
</div>

<div id="main-container" class="container">
  <!--
  <div class="row">
    <div class="col-md-12" id="welcome">
      Welcome to MVC, an online coding judging app (for competitive programming online.)  Practice your coding skill.  Below are random questions that you can solve by coding the right javascript codes.  Complete and compete. Each correct answer earns points.  The hightest score is [ ], can you beat it?  Remember time is running, start coding.
    </div>
  </div>-->

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 row-title">
          <img src="/assets/images/arrow-icon.png" width="30px">
          Problem
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 content-text">
          Write a function that returns the sum of two numbers.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-title">
          <img src="/assets/images/arrow-icon.png" width="30px">
          Your Coder
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 content-text">
          <textarea class="form-control" rows="10" id="usercode">
function add(a, b) {
  // write your code below
}
          </textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <input id="username-field" type="text" maxlength="16" value="Your name"></input>
          <button type="button" class="btn btn-success" id="starttimer">Start</button>
          <button type="button" class="btn btn-primary" id="runcode">Submit</button>
          <span id="clock-title">
            <strong>Timer: </strong>
          </span>
          <span id="clock">
            00:00
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="pass-fail-error-bar">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 row-title">
          <img src="/assets/images/arrow-icon.png" width="30px">
          Console
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm">
            1 + 1 = 2, but your function returns 3
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12" id="rank-title">
          <img src="/assets/images/trophy-icon.png" width="50px">
          Top 5 MVC!
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="rank-list">
          <ol>
            <li><img src="assets/images/star-icon.png" width="20px">Bill Gates</li>
            <li><img src="assets/images/star-icon.png" width="20px">Steve Jobs</li>
            <li><img src="assets/images/star-icon.png" width="20px">Mark Zuckerberg</li>
            <li><img src="assets/images/star-icon.png" width="20px">Evan Spiegel</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="footer">
    <div class="col-md-12">
      Copyright 2017 MVC
      <br
    </div>
  </div>

  <!-- below added by rick, to be removed--><!--
  <div id="wrapper">
    <div id="display">00:00</div>
      <div id="buttons">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
        <button id="lap">Lap</button>
      </div>
      <div id="laps"></div>
    </div>
  </div>-->
  <!-- above added by rick, to be removed-->

</div>