body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color:#000000;
  /*color: #777;*/
  background: #455a64 ;
  /*background-image: url("http://cdn.desktopwallpaper4.me/wallpapers/abstract/2560x1600/1/80-sun-ray-2560x1600-abstract-wallpaper.jpg");*/

}
/*
#masterhead{
	position: fixed;
}*/


#masterhead h1, h3{
  text-align: center;
  color:white;
}


h3{
	line-height: 0px;
}

#main-container{

}


.main-section, .list-section{
	/*margin-top: 100px;*/
	min-height: 550px;
	width: 100%;
	  /*background-image: url("http://cdn.desktopwallpaper4.me/wallpapers/abstract/2560x1600/1/80-sun-ray-2560x1600-abstract-wallpaper.jpg");*/

}

.main-section{
  float: left;
  /*width: 100%;*/
  max-width: 900px;
  padding: 30px;
  padding-top: 0px;
  margin: 100 0 40px;


  line-height: 26px
  margin
}


#problem-title{
  float: left;
  width: 100%;
/*  max-width: 800px;*/
  padding: 30px;
  padding-top: 0px;
  margin: 0 0 20px;
  line-height: 26px
  margin
}

#code{
	margin-top: 100px;
	max-width: 800px;
	width: 100%;
	height: 200px;
}

.btn{
	margin: 15px;
	padding: 15px;
}

.row .col-sm-1{
  height: 20px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 6px;
  border-bottom:  10px;
  padding: 0px;
  width: 100%;
  border: 0 none;
  padding-left: 0;
  padding-right: 0;


}

#username{
	float: right;
	/*margin: 15px;*/
	padding: 15px;
	height: 10px;
}


.alert{
	max-height: 45px;
	text-align: center;
	line-height: 30px;
	padding-top: 5px;

}
#comments-field{
	width: 100%;
	padding-top: 500px;
 	float: left;
	height: 200px;
	padding: 30px;
	padding-top: 0px;
	margin: 0 0 40px;
	border: 1px solid #ddd;
	opacity: 50%;
	line-height: 26px
}


.username{
	  float: right;
	  max-width: 270px;
	  padding-top: 0px;
	  margin-bottom: 20px;
	  border: 1px solid #ddd;


}


.list-section{
      /*background-image: url("http://cdn.desktopwallpaper4.me/wallpapers/abstract/2560x1600/1/80-sun-ray-2560x1600-abstract-wallpaper.jpg");*/
	  background:white;
	  float: right;
	  max-width: 180px;
	  padding: 30px;
	  padding-top: 5px;
	  margin-bottom: 20px;
	  border: 1px solid #ddd;
 }








footer,
.push {
  height: 100px;
}

/* footer */
footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #777;  
/*  color: #ccc;*/
  text-align: center;
  background: #87CFCE  ;
  border-top: 8px solid   #B3DFAC;

}