body {
  padding: 80px 100px 20px 100px;
}

#top-navbar {
  background-color: #F0EFEB;
  color: grey;
  text-align: center;
  height: 70px;
  padding: 8px 0px 10px 0px;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#top-buttons {
  text-align: right;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  padding: 8px 150px 10px 0px;
}

.row-title {
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  margin-top: 10px;
}

.content-text {
  font-size: 16px;
  margin-top: 10px;
}

#rank-title {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  margin: 20px 100px 20px 50px;
}

#rank-list {
  font-size: 20px;
  margin: 2px 100px 20px 50px;
}

#clock-title {
  margin: 0px 0px 0px 20px;
}
#clock {
  margin: 0px 0px 0px 10px;
}

#footer {
  text-align: center;
  color: grey;
  font-size: 15px;
  padding: 5px 0px 10px 0px;
}